<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<property name="location">
			<value>app.properties</value>
		</property>
	</bean>

	<bean id="OracleDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@10.0.12.46:1521:rsdocdb" />
		<property name="username" value="${jdbc.oracle.username}" />
		<property name="password" value="${jdbc.oracle.password}" />
	</bean>

	<bean id="PostgreSqlDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://172.16.22.56:5432/rsdoc_rtn2" />
		<property name="username" value="${jdbc.postgresql.username}" />
		<property name="password" value="${jdbc.postgresql.password}" />
	</bean>

	<bean id="DB2DataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.ibm.db2.jcc.DB2Driver" />
		<property name="url" value="jdbc:db2://10.0.12.34:50001/rsdoc2" />
		<property name="username" value="${jdbc.db2.username}" />
		<property name="password" value="${jdbc.db2.password}" />
	</bean>

	<!-- facade data source -->
	<bean id="dataSource" class="ru.rstyle.so.ds.DBRoutingDS">
		<property name="targetDataSources">
			<map>
				<entry key="ORACLE" value-ref="OracleDataSource" />
				<entry key="DB2" value-ref="DB2DataSource" />
				<entry key="POSTGRESQL" value-ref="PostgreSqlDataSource" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="DB2DataSource" />
	</bean>

	<!-- wiring up -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


</beans>